@import 'columns.css';
@import 'columns-settings.css';
@import 'tasks.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    gap: 8px;
    height: 100vh;
    padding: 20px
}